body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 70vw;
    background-color: lightblue;
}

.title {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.WriteList {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

.write {
    width: 100%;
    height: 30px;
    margin: 0;
}
