body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toDo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  width: 70vw;
  border: solid 1px rgba(173, 216, 230, 0.658);
}

.title {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.WriteList {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}

.write {
  width: 100%;
  height: 30px;
  margin: 0;
}

.btn-refresh {
  background: none;
  border: none;
  background-image: url('./images/refresh.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  display: flex;
  margin: auto 0;
}

.clean {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(211, 211, 211);
  color: rgb(71, 71, 71);
  border: none;
}

.lg {
  background-color: rgba(207, 207, 207, 0.158);
  width: 100%;
}

.btn-Add {
  background-image: url('./images/plus.png');
  height: 35px;
  width: 38px;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  border: none;
}
